h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: lightcyan;
    text-align: center;
}

body {
    background-color: black;
}

#section_search {
    padding-left: 20px;
    padding-bottom: 10px;
}