h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    text-align: center;
    text-shadow: 90px;
}

body {
    background-color: azure;
}

#input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#section_search {
    padding-left: 20px;
}

#section_image {
    padding-top: 30px;
}

